# .github/workflows/mirror-to-gitlab.yml
name: Mirror to GitLab

on: [push]

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to GitLab
        run: |
          git remote add gitlab https://gitlab.cnam-enjmin.fr/luc.sarrazin.auditeur/jamfish.git
          git push gitlab --all
          git push gitlab --tags
